<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- prettier-ignore -->
    This is the drive of <%=currentUser.email %>
    <br />
    <a href="/">Home</a>
    <a href="add/<%= directory.path %>">Add</a>
    <% if(directory.parentId) { %>
    <br />
    <a href="<%= directory.parent.path %>">Up</a>
    <% } %> <% if(directory.contents && directory.contents.length > 0) { %>
    <ul>
      <% directory.contents.forEach((dir) => { %>
      <li>
        <div>
          <span><%=dir.Type%></span>
          <% if(dir.Type === Type.Folder) { %>
          <a href="<%= dir.path %>"><%= dir.name %></a>
          <% } else { %>
          <a href="<%= dir.downloadLink %>"><%= dir.name %></a>
          <% } %>
          <a href="properties/<%= dir.id %>">Properties</a>
          <a href="delete/<%= dir.id %>">Delete</a>
        </div>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>This directory is empty!</p>
    <% } %>
  </body>
</html>
