<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/drive/<%= directory.path %>">Back</a>
    <a href="/">Home</a>
    <div>
      <h3><%= directory.name %></h3>
      <p>Type: <%= directory.Type %></p>
      <p>Path: <%= directory.path %></p>
      <b>Created: <%= directory.created %></b>
    </div>
  </body>
</html>
